@using Dealership.Models;

<h1>Used Car List</h1>

@if (Model.Count == 0)
{
  <p>There are no used cars for sale at the moment.</p>
}
<ul>
  @foreach (Car car in Model)
  {
    <li>@car.Details</li>
    <ul>
      <li>Car Make: @car.MakeModel</li>
      <li>Price: $@car.Price</li>
      <li>Miles: @car.Miles</li>
    </ul>
    <br>
  }
</ul>
<form action="/cars" method="post">
  <label for="budgetNumber">Enter budget</label>
  <input id="budgetNumber" name="budgetNumber" type="text">
  <button type ="submit" class="btn btn-primary">Submit</button>
</form>

<ul>
  @foreach (Car car in CarsMatchingSearch)
    {
      <li>@CarsMatchingSearch.Details</li>
      <li>Car Make: @CarsMatchingSearch.MakeModel</li>
      <li>Price: $@CarsMatchingSearch.Price</li>
      <li>Miles: @CarsMarchingSearch.Miles</li>
    }

</ul>
    <br>
<p><a href="/">Go back to Homepage</a></p>